@{
  Layout = "_Layout";
}

@using Factory.Models;
@model List<Machine>;

<h1 class="mb-3">Machines</h1>
<hr>

<ul>
  @foreach(Machine machine in Model)
  {
  <li>
    
    @Html.ActionLink($"{machine.Name}", "Details", new { id = machine.MachineId}) | 
  </li>   
  }
    @* <a name="date">@Html.ActionLink("Sort by date", "Index", "Machines", new {sortBy = "date"})</a> *@
</ul>
<br>

<hr>
<p class="nav">@Html.ActionLink("Add new machine", "Create")</p>
<p class="nav">@Html.ActionLink("Home", "Index", "Home")</p>